@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
}

@font-face {
  font-family: "Zuume";
  src: url("/fonts/Zuume-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
 
}

.zuume-font {
  font-family: "Zuume", sans-serif;
}



